body {
  width: 100vw;
  max-height: 80vh;
  background-color: orchid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.first-bar {
  display: flex;
  height: 4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#first-bar-p {
  color: #817d7d;
  margin-left: 1.6rem;
  font-size: 2em;
}

.first-bar-btn {
  margin-right: 1rem;
  border: none;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('./images/looping-arrows.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  transition-duration: 0.2s;
}

.first-bar-btn.active {
  width: 2.55rem;
  height: 2.55rem;
  transform: rotate(-180deg);
  transition-duration: 0.2s;
}

.add-btn {
  margin-right: 1rem;
  border: none;
  background-color: white;
  width: 3rem;
  height: 3rem;
  background-image: url('./images/downward-rotation.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.item-list {
  list-style: none;
  order: 1;
}

.item {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.imput-text {
  width: 100%;
  height: 70%;
  background: none;
  margin-left: 1rem;
  font-size: 1.1em;
  font-style: italic;
  color: rgb(29, 29, 29);
  border-radius: 50px;
  border: 2px solid black;
  padding-left: 14px;
}

.error {
  height: 0.5rem;
  width: 60%;
  font-size: medium;
  color: rgb(224, 4, 4);
  margin-left: 2rem;
}

.line {
  margin-left: 1rem;
}

.my-checkbox {
  transform: scale(2);
  margin-right: 11px;
}

.delete-btn {
  margin-right: 1rem;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  background-image: url('./images/basket.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.clear-btn {
  order: 2;
  width: 100%;
  height: 4rem;
  background-color: #dadada;
  border: none;
  color: #888;
  font-size: 1.1em;
  font-stretch: expanded;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
